//====Header=================================================================
$headerBackground: #0b1c76;
$headerTextColor: #fdfdfd;

$navLinkBackground: #fdfdfd;
$navLinkTextColor: #000;
$navActiveLinkBackground: #f9503b;
$navActiveLinkTextColor: #fdfdfd;